# Ignore compiled Python files
outputs/*
# But do not ignore 
# !/data/home/scv6872/AMPCliff/outputs/2024-04-03/13-16-23/esm2_t33/blosum62 average/diff5/
!/data/home/scv6872/AMPCliff/outputs/2024-04-13/11-45-34/esm2_t6/
# Ignore log files
mlruns
# Ignore data files
data/*
# Ignore build folder
Bert-Protein
ChatGPT
*llama*
slurm*
distribute_train.sh
mystatistics*
factory/SeqUNet.py 
factory/generation.py 
facorty/residual.py 
random*