# Ignore compiled Python files
outputs
models
# Ignore log files
mlruns
# Ignore data files
data/*
# Ignore build folder
Bert-Protein
ChatGPT
*llama*
slurm*

factory/SeqUNet.py 
factory/generation.py 
facorty/residual.py 
