# Ignore compiled Python files
outputs/*
# But do not ignore 
!outputs/2024-04-13/11-45-34/esm2_t6/blosum62 average/diff5/
models
# Ignore log files
mlruns
# Ignore data files
data/*
# Ignore build folder
Bert-Protein
ChatGPT
*llama*
slurm*

factory/SeqUNet.py 
factory/generation.py 
facorty/residual.py 
